/* Valores genéricos */
/* --------------------------------- */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Paleta de colores: */
/* --------------------------------- */

.blanco {
    color: white;
}

.verde {
    color: #c9e265;
}

.negro {
    color: #1a1b1e;
}

.color_fondo {
    background-color: #18191b;
}

body {
    background-color: #18191b;
}

/* Fondo */
/* --------------------------------- */

#fondo {
    width: 100vw;
    height: 100vh;
    transition: opacity 2s;
}

/* Header */
/* --------------------------------- */

#titulos {
    width: 45%;
    max-width: 330px;
    object-fit: contain;
    transition: transform 0.2s;
}

#titulos:hover {
    cursor: pointer;
    transform: scale(1.03);
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px 50px 20px;
    z-index: 2;
}

#menu_hamburguesa {
    max-width: 60px;
    margin: 10px 20px 0px 0px;
}

#menu_hamburguesa:hover {
    cursor: pointer;
}

#menu_hamburguesa_verde {
    max-width: 60px;
    margin: 10px 20px 0px 0px;
    display: none;
}

#menu_hamburguesa_verde:hover {
    cursor: pointer;
}

#menus_box {
    display: flex;
    gap: 50px;
}

/* Desplegable */
/* --------------------------------- */

#desplegable {
    position: absolute;
    z-index: 1;
    display: none;
    opacity: 0;
    width: 100%;
    height: 100vh;
}

#menu_media_query {
    display: none;
}

#menu_media_query ul {
    overflow: hidden;
}

nav {
    margin: 190px 60px 50px 60px;
    width: 81%;
}

ul {
    list-style: none;
}

ul li {
    display: block;
    width: 100%;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
    border-bottom: 1px solid white;
    margin-bottom: 70px;
    padding-bottom: 10px;
}

ul a {
    text-decoration: none;
}

ul li:hover {
    color: #c9e265;
    cursor: pointer;
}

/* Footer desplegable */
/* --------------------------------- */

#footer_desplegable {
    width: 40%;
    position: absolute;
    bottom: 0;
    margin-left: 40px;
    padding-left: 10px;
    margin-bottom: 30px;
    overflow: hidden;
}

#footer_desplegable a {
    text-decoration: none;
}

#footer_desplegable .ampliar {
    transition: transform 0.2s;
}

#footer_desplegable .ampliar:hover {
    transform: scale(1.2);
}

#footer_desplegable h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 20px;
    color: white;
    position: static;
    overflow: visible;
}

#footer_desplegable img {
    width: 20%;
    margin-right: 20px;
    max-width: 70px;
}

#marco_h2 {
    width: 15%;
    height: auto;
    overflow: visible;
}


/* Plantilla general de las cajas */
/* --------------------------------- */

#titulos_secundarios {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3vh;
    border-bottom: 1px solid white;
}

h1 {
    display: block;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 15px;
    
    padding-bottom: 10px;
    overflow: hidden;
    transition: all 0.5s;
}

.general_cart {
    width: 9vw;
    max-width: 46px;
    max-height: 45px;
}

.general_cart:hover {
    cursor: pointer;
}

#caja_pedido_top {
    z-index: 100;
    display: flex;
    flex-direction: row;
    margin-left: 60px;
    margin-top: 18px;
}

#caja_pedido {
    position: fixed;
    display: flex;
    bottom: 0;
    right: 0;
    margin-right: 80px;
    margin-bottom: 90px;
}

#circulo_cubiertos {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    background-color: #1a1b1e;
}

#circulo_cubiertos:hover {
    cursor: pointer;
}

#circulo_numero_pedido {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    background-color: #1a1b1e;
}

#cambiopagina {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: #ffffff5b;
    padding-bottom: 10px;
    overflow: hidden;
    text-align: right;
    transition: all 0.5s;
}

#icono_cambio {
    width: 18px;
    height: 18px;
    opacity: 0.4;
    transition: all 0.5s;
    margin-right: 15px;
}

#caja_cambio {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#caja_cambio:hover {
    cursor: pointer;
}

#plantilla_principales {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: flex-start;
    margin: 0px 45px 0px 45px;
}

#plantilla_principales .caja {
    width: 100%;
    margin-bottom: 20px;
}

#cuadricula {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

/* Textos de información de las cajas */
/* --------------------------------- */

.texto_principal {
    margin-left: 30px;
    margin-bottom: 40px;
}

.texto_principal h2 {
    color: white;
    padding-top: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-weight: 800;
}

.texto_principal section {
    margin-bottom: 25px;
}

.fuente_montserrat {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 600;
}

.fuente_montserrat_verde {
    color: #c9e265;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 600;
}

#plantilla_principales div span {
    color: #c9e265;
}

.nombre_y_precio {
    display: inline;
    overflow: hidden;
}

.nombre_y_precio h3 {
    padding-bottom: 5px;
}

.width_30 {
    width: 30%;
}

.width_50 {
    width: 50%;
}

.width_70 {
    width: 70%;
}

.width_30, .width_50, .width_70 {
    overflow: hidden;
}

.width_30 h2, .width_50 h2 {
    text-align: right;
    font-weight: 800;
}

.texto_grande {
    font-size: 30px !important;
}

.texto_pequeno {
    font-size: 13px;
}

.img_grande {
    width: 26%;
}

.img_pequena {
    width: 21%;
}

.margen-bottom {
    margin-bottom: 20px;
}

.en_linea {
    display: flex;
    align-items: flex-start;
    justify-items: center;
}

/* Cajas */
/* --------------------------------- */

.plato {
    width: 100%;
}

#caja_pequena3 img {
    object-position: 50% 55%;
}

#caja_pequena6 img {
    object-position: 5% 50%;
}

.caja {
    position: relative;
    height: 340px;
    overflow: hidden;
}

.caja img {
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: transform 1s;
}

.caja img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.etiqueta_info {
    height: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

/* Filtro que oscurece el fondo */
/* --------------------------------- */

#filtro_oscurecer {
    width: 100vw;
    height: 100vh;
    opacity: 0;
    display: none;
    position: absolute;
    background-image: url(../../media/img/Imagenes/Fondos/editadas/tartar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


/* Transiciones */
/* --------------------------------- */

.fadeIn {
    opacity: 1;
}

.opacidad {
    opacity: 0;
}


/* MEDIA QUERIES: */
/* --------------------------------- */

@media all and (min-width: 601px) {

    /* Header */

    header {
        padding: 30px;
        margin-bottom: 40px;
    }
    
    /* Plantilla con los platos principales del restaurante */

    #plantilla_principales {
        align-items: flex-start;
        margin: 0px 50px 0px 50px;
    }

    #plantilla_principales .caja {
        justify-content: center;
        width: 100%;
    }

    h1 {
        font-size: 18px;
    }

    #caja_pequena img {
        width: 12%;
        max-width: 70px;
        float: right;
        margin: 20px;
        user-select: none;
    }

    #caja_recomendado {
        display: flex;
        justify-content: flex-end;
        margin-right: 0px;
        padding-right: 0px;
    }

    /* Footer menú desplegable */

    #footer_desplegable h2 {
        margin-left: 10px;
        margin-bottom: 10px;
        font-size: 27px;
    }
}

@media all and (min-width: 800px) {

    /* Textos */

    .width_70 h3, .width_50 h3 {
        font-size: 17px;
    }

    .width_30 h2, .width_50 h2 {
        font-size: 35px !important;
    }
}

@media all and (min-width: 900px) {

    #caja_grande {
        height: 460px;
    }
    
    #caja_pequena {
        height: 340px;
    }
}

@media all and (min-width: 1000px) {

    /* Plantilla con información de los restaurantes */

    #plantilla_principales .cajaimg {
        height: 500px;
    }

    h1 {
        font-size: 1.3em;
    }

    .nombre_y_precio {
        display: flex;
    }

    #nombre, .nombre2 {
        margin-right: 40px;
    }

    .width_70 h3, .width_50 h3 {
        font-size: 20px;
    }

    .width_30 h2, .width_50 h2 {
        font-size: 40px !important;
    }

    .etiqueta_info {
        align-items: center;
        margin-bottom: 40px !important;
    }
}

@media all and (min-width: 1300px) {

    /* Menú superior */

    #menu_media_query {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 70%;
        padding: 0px;
        margin: 0px;
        margin-top: 40px;
    }

    #menu_media_query ul {
        text-align: center;
    }

    #menu_media_query li {
        border: none;
        display: inline;
        margin-left: 30px;
        font-size: 1.3vw;
    }

    #menu_hamburguesa {
        display: none !important;
    }

    #menu_hamburguesa_verde {
        display: none;
    }

    /* Cajas */

    .plato {
        width: 47%;
    }

    #plato_ancho {
        width: 100%;
    }

    #plato_ancho img {
        height: 500px;
    }

    /* Plantilla con información de los restaurantes */

    #cuadricula {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
    }

    h1 {
        font-size: 1.3em;
    }

    
}

@media all and (min-width: 1700px) {

    /* Plantilla con información de los restaurantes */

    #plantilla_principales{
        align-items: flex-start;
        margin-left: 60px;
    }

    #plantilla_principales .caja {
        justify-content: center;
    }

    h1 {
        font-size: 23px;
    }

    /* Menú superior */

    #menu_media_query {
        margin-right: 67px;
    }

    #menu_media_query li {
        font-size: 22px;
    }

    #caja_grande {
        background-image: url(../../media/img/Imagenes/Fondos/editadas/menu_bocadillo_cut.jpg);
        background-position: center -700px;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

    /* Cajas */

    .plato {
        width: 48%;
    }
}

@media all and (max-height: 950px) {
    .etiqueta_info {
        overflow: visible;
    }
}

@media all and (max-height: 830px) {

    /* Plantilla con información de los restaurantes */

    h1 {
        padding-bottom: 27px;
    }

    #caja_pequena img {
        max-width: 50px;
    }

    /* Menú desplegable */

    #lista {
        margin-top: 140px;
    }

    #lista ul li {
        margin-bottom: 3vh;
    }

}

@media all and (max-height: 645px) {

    .texto_principal_restaurante {
        width: 65%;
        align-self: flex-end;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        overflow: visible;
        border: 1px solid #c9e265;
        height: 70px;
        padding: 8px;
        position: absolute;
        bottom: 0;
    }

    .contenedor_info {
        overflow: visible;
    }

    #caja_grande, #caja_pequena {
        display: none;
    }
}

@media all and (max-height: 500px) {


    /* Footer desplegable */

    #footer_desplegable {
        display: none;
    }
}

